<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Create delivery</nb-card-header>
            <nb-card-body>
                <nb-alert *ngIf="error" status="danger"> Une erreur est survenue !! </nb-alert>
                <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <div class="form-group row">
                        <label for="package_id" class="label col-sm-2 col-form-label">Package ID</label>
                        <div class="col-sm-10">
                            <!-- <textarea nbInput formControlName="description" placeholder="Description" fullWidth></textarea> -->
                            <input type="text" fullWidth nbInput [formControl]="packageControl" [matAutocomplete]="auto" placeholder="Package ID" >
                        </div>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                    <div class="form-group row">
                        <label for="location_lat" class="label col-sm-2 col-form-label">Location</label>
                        <div class="col-sm-5">
                            <input type="number" nbInput fullWidth formControlName="location_long" placeholder="Longitude">
                        </div>
                        <div class="col-sm-5">
                            <input type="number" nbInput fullWidth formControlName="location_lat" placeholder="Latitude">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="status" class="label col-sm-2 col-form-label">Status</label>
                        <div class="col-sm-10">
                            <nb-select selected="1" formControlName="status" fullWidth="">
                                <nb-option *ngFor="let status of statuses" value="{{status}}">{{status}}</nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" [disabled]="loading" nbButton  status="primary" [nbSpinner]="loading" nbSpinnerStatus="success" [disabled]="!packagesLoaded">Submit</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>