<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Delivery details</nb-card-header>
        <nb-card-body *ngIf="loaded">
          ID : {{ delivery._id }} <br>
          end_time : {{ delivery.end_time }} <br>
          package_id : {{ delivery.package_id }} <br>
          pickup_time : {{ delivery.pickup_time }} <br>
          start_time : {{ delivery.start_time }} <br>
          status : {{ delivery.status }} <br>
          location : ( {{ delivery.location.long }} , {{ delivery.location.lat }} ) <br>
      </nb-card-body>
      <nb-card-body *ngIf="!loaded">
          <!-- Description : {{package.description}} -->
          <p *ngIf="driving">
            NO DATA...
          </p>
          <p *ngIf="tracking">
            NO ACTIVE DELIVERY 
          </p>
      </nb-card-body>
      </nb-card>
    </div>
</div>