<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Web Tracker</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" nbInput fullWidth placeholder="Enter package ID" #packageInput>
                </div>
                <div class="col-md-2">
                    <!-- <button type="submit" (click)="loadDelivery(deliveryInput)" nbButton status="success">Track</button> -->
                    <button type="submit" nbButton (click)="loadActiveDelivery(packageInput)" status="success">Track</button>
                </div>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <ngx-details [tracking]="true" ></ngx-details>
    </div>
    <div class="col-md-7">
        <ngx-map2 [tracking]="true" ></ngx-map2>
    </div>
</div>