<div class="row">
    <div class="col-md-12">
      <nb-card class="inline-form-card">
        <nb-card-header>Web Driver</nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-10">
                    <input type="text" nbInput fullWidth placeholder="Enter delivery ID" #deliveryInput>
                </div>
                <div class="col-md-2">
                    <button type="submit" (click)="loadDelivery(deliveryInput)" nbButton status="success" >Submit</button>
                </div>
            </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <ngx-details [driving]="true"></ngx-details>
    </div>
    <div class="col-md-7">
        <ngx-map2 [driving]="true" ></ngx-map2>
    </div>
</div>